.button {
    padding: 2%;
    margin-bottom: 1%;
}

.b {
    background-color: #ce9cb2;
    color: white;
    border: 0;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    box-shadow: 4px 4px 0px 0px #310231;
    cursor: pointer;
}


.u {
    padding: 0;
    margin: 0;
    display: flex;
}

.number {
    list-style-type:none;
}

.n {
    color: white;
    background-color: #580c40;
    padding: 2px;
    width: 150%;
    margin: 90%;
    text-align: center;
}

.main {
    list-style-type:none;
}

.m {
    color: white;
    background-color: #986b7f;
    padding: 4px;
    padding-left: 20%;
    margin-top: 10%;
    width: 120%;
    box-shadow: 3px 3px 0px 0px #310231;
}